*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
backend/.idea/
backend/.vscode/
backend/db.sqlite3
backend/user_profile/migrations/
backend/review/migrations/
backend/db.json
backend/templates/db.sqlite3
