{% extends 'base.html' %} {% load staticfiles %} {% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'img/iiitap2.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% if status %}
                    <h1>Daily Mess Report</h1>
                    {% else %}
                    <h2>No Reports yet</h2>
                    {% endif %}
                    <span class="subheading">BH-3, IIITA</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if status %} {% for post in posts %}
            <div class="post-preview">
                <a href={% url 'view_post' post.first.timestamp.date %}>
                    <h2 class="post-title">
                        Mess Report [{{ post.first.timestamp.date}}]
                    </h2>
                    <h3 class="post-subtitle">
                        View Report
                    </h3>
                </a>
                <p class="post-meta">Posted on {{ post.first.timestamp }}</p>
            </div>
            <hr> {% endfor %}

            <!-- Pager -->
            <div>
                {% if posts.has_other_pages %}
                <ul class="pagination">
                    {% if posts.has_previous %}
                    <li>
                        <a href="?page={{ users.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span style="margin-right: 5px">&laquo;</span>
                    </li>
                    {% endif %} {% for i in posts.paginator.page_range %} {% if posts.number == i %}
                    <li class="active" style="margin: 0 0.5em;padding: 0 15px;border: 1px solid #00657b;background-color: #00657b;color: white;">
                        <span>{{ i }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    {% else %}
                    <li style="margin: 0 0.53m; padding: 0 5px">
                        <a href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %} {% endfor %} {% if posts.has_next %}
                    <li style="margin-right: 5px">
                        <a href="?page={{ posts.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <span>&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            {% endif %}

        </div>
    </div>
    <hr> {% endblock %}